ul.topnav {
    list-style-type: none;
    margin-top: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    background-color: #B7E1E5;
    opacity:.89;
	position: fixed;
	width: 100%;
	z-index: 1;
 }

ul.topnav li {
	float: right;
}

ul.topnav li a {
    display: inline-block;
    color: #187565;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 30px;
    font-family: Raleway, serif;
}

ul.topnav li a:hover {
	background-color: #93CACC;
}

ul.topnav li.icon {
	display: none;
}

.aboutTitle {
	text-align: center;
}

.box, .box2, .box3, .box4, .box5, .box6 {
	width: 200px;
	height: 200px;
	border: 1px yellow solid;
	display: inline-block;
	background-color: yellow;
}

body {
	background-color: lightblue;
}

.header {
	display: inline-block;
}

.hidden {
	display: none;
}

#display {
	color: #3E8076;
	font-family: Raleway;
}

.boxContainer {
	display: inline-block;
	position: relative;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: orange;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	opacity: .6;
}

.boxContainer:hover .overlay {
	height: 100%;
}

.text {
	white-space: nowrap; 
	color: blue;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

body{
	text-align: center;
}

form {
	padding: 12% 5% 10% 5%;
	text-align: left;
}

input {
	border-radius: 10px;
	font-size: 30px;
	width: 100%;
}

.fields {
	font-size: 50px;
	color: white;
	font-family: Oswald;
}

#answer {
	width: 100%;
	height: 200px;
}

#age, #school, #place, #entrance {
	width: 100%;
}

#registerButton {
	margin: auto;
	text-align: center;
	background-color: #3E8076;
	color: white;
}

.center {
	margin: auto;
	text-align: center;
}

.signIn {
	font-family: Comfortaa;
	font-size: 60px;
	font-weight: bold;
	color: #3E8076;
	text-align: center;
}

.learning {
	font-family: Comfortaa;
	font-size: 40px;
	font-weight: bold;
	color: #3E8076;
}

.learnPara {
	font-family: Comfortaa;
	font-size: 18px;
	font-weight: bold;
	color: #3E8076;
}

.aboutPage {
	padding: 12% 5% 10% 5%;
}

.info {
	padding: 14% 8% 10% 8%;
	text-align: left;
}

.infoLine {
	height: 2px;
	width: 100%;
	background-color: #F7EC18;
}

.para {
	color: black;
	text-align: left;
	font-family: Raleway;
	font-size: 16px;
	margin-bottom: 2%;
}

.seniorAbout {
	padding: 12% 5% 10% 5%;
}

.blurbs {
	background-color:#F7EC18;
	padding: 5% 5% 10% 5%;
	margin-top: -6%;
}

@media only screen and (max-width:680px) {
	ul.topnav li:not(:first-child) {
		display: none;
	}
	ul.topnav li.icon {
		float: right;
		display: inline-block;
	}
}

@media only screen and (max-width:680px) {
	ul.topnav.responsive {
		position: relative;
	}
	ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.topnav.responsive li {
		float: none;
		display: inline;
	}
	ul.topnav.responsive li a {
		display: block;
	}
}

@media only screen and (max-width: 500px) {
	body{
		text-align: center; 
	}
}